<div>
    <form action="/insert_user" method='post'>
        <h1>Add User</h1>
        Username: <input type="text" name="username"/>
        Password: <input type="text" name="password"/>
        <input type="submit"/>
    </form>
    <form action="/delete_user" method='post'>
        <h1>Delete User</h1>
        Username: <input type="text" name="username"/>
        Password: <input type="text" name="password"/>
        <input type="submit"/>
    </form>
    <form action="/delete_user" method='post'>
        <h1>Add Bill</h1>
        Id: <input type="text" name="id"/>
        body: <input type="text" name="body"/>
        <input type="submit"/>
    </form>
</div>
